.articles-preview-catalog {
    gap: 20px;
    display: flex;
    flex-direction: column;

    &__description {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}