.button-primary {
	transition:       .3s;
	background-color: var(--gray-light-2);
	border:           2px solid var(--gray-light-2);
	border-radius:    10px;

	@media (pointer: fine) {
		&:hover {
			border: 2px solid var(--black);
		}
	}
}
