@use "@styles/variables" as vars;

.preview {
    border-radius: var(--block-border-radius-10px);
    background-color: var(--gray-light);
    height: 250px;
    padding: 10px;
    display: flex;
    gap: 10px;

    @media (max-width: vars.$mobile-device-width) {
        height: 150px;
    }
}

.title {
    margin-bottom: 10px;
}

.image {
    width: 300px;
    height: 100%;
    object-fit: cover;
    border-radius: var(--block-border-radius-8px);
}