@use '@styles/variables' as *;

$navigation-height: 54px;

.layout {
    padding: 32px 16px calc($navigation-height + 16px) 16px;
    display: flex;
    justify-content: center;
}

.header {
    position: sticky;
    top: 0;
}

.navigation {
    &#{&} {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: none;

        @media (max-width: $mobile-device-width) {
            display: flex;
        }
    }
}

.container {
    max-width: 1200px;
    width: 100%;
}