@use 'styles/variables' as *;

$navigation-height: 54px;

body {
    height: max(100vh, 100%);
}

.main-layout {
    padding: 16px 16px calc($navigation-height + 16px) 16px;
    display: flex;
    flex-direction: column;

    &__header {
        position: sticky;
        top: 0;
    }

    &__navigation {
        &#{&} {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            display: none;

            @media (max-width: $mobile-device-width) {
                display: flex;
            }
        }
    }
}