@use "src/app/styles/variables" as vars;

.header {
	display:          flex;
	align-items:      center;
	justify-content:  space-between;
	box-shadow:       0 -20px 40px 4px var(--black);
	padding:          34px;
	background-color: var(--white);

	@media (max-width: vars.$mobile-device-width) {
		justify-content: center;
		padding:         14px;
	}

	&__logo {
		text-decoration: underline;
		font-size:       24px;
		color:           var(--black);
	}

	&__link {
		color: inherit;

		&:visited {
			color: inherit;
		}

		&:hover {
			color: inherit;
		}
	}

	&__controls {
		display:         flex;
		align-items:     center;
		gap:             34px;
		justify-content: center;

		@media (max-width: vars.$mobile-device-width) {
			display: none;
		}
	}
}
