@use "@styles/variables" as *;

.article-preview-title {
	font-size:          24px;
	color:              var(--black);
	overflow:           hidden;
	display:            -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;

	@media (max-width: $mobile-device-width) {
		font-size: 18px;
	}
}
