.container {
	display: flex;
	flex-direction: column;
}

.heading {
	margin-bottom: 60px;
}

.image {
	object-fit: cover;
	width: 100%;
	height: 300px;
	margin-bottom: 60px;
	border-radius: var(--block-border-radius-10px);
}

.text {
	padding: 20px;
	background-color: var(--gray-100);
	border-radius: var(--block-border-radius-10px);
}