:root {
    --gray-light: #f8f8f8;
    --gray-light-2: #eee;
    --gray-dark: #4e4e4e;
    --black: #000;
    --white: #fff;

    --block-border-radius-10px: 10px;
    --block-border-radius-8px: 8px;
    --block-border-radius-4px: 4px;

    --gray-100: #eff0f1;
    --gray-200: #c5c8cd;
    --gray-300: #9DA1AA;
    --gray-400: #787c85;
    --gray-500: #56595f;
    --gray-600: #36383c;
    --gray-700: #181a1c;


    --red-100: #ffedec;
    --red-200: #ffc7c4; 
    --red-300: #fe8c85;
    --red-400: #fe3b15;
    --red-500: #bf2705;
    --red-600: #821702;
    --red-700: #4a0901;

    --text-primary: var(--gray-700);

	--text-error: var(--red-400);

	--icon-primary: var(--gray-700);
}