:root {
    --gray-light: #f8f8f8;
    --gray-light-2: #eee;
    --gray-dark: #4e4e4e;
    --black: #000;
    --white: #fff;

    --block-border-radius-10px: 10px;
    --block-border-radius-8px: 8px;
    --block-border-radius-4px: 4px;

    --gray-100: #eff0f1;
    --gray-200: #c5c8cd;
    --gray-300: #9DA1AA;
    --gray-400: #787c85;
    --gray-500: #56595f;
    --gray-600: #36383c;
    --gray-700: #181a1c;

    --text-primary: var(--gray-700);
    --icon-primary: var(--gray-700);
}