@font-face {
    font-family: 'InterTight';
    src: url('../fonts/InterTight/InterTight-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'InterTight';
    src: url('../fonts/InterTight/InterTight-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'InterTight';
    src: url('../fonts/InterTight/InterTight-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'InterTight';
    src: url('../fonts/InterTight/InterTight-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

body {
    font-family: 'InterTight', sans-serif;
}