.textarea {
    color: var(--black);
    border-radius: var(--block-border-radius-10px);
    padding: 12px;
    border: 1px solid var(--gray-light-2);
    display: block;
    background-color: var(--gray-light-2);
    transition: .2s border-color;
    outline: none;
    width: 100%;
}

.container {
    &:focus-within {
        .textarea {
            border: 1px solid var(--black);
        }
    }

    &:hover {
        .textarea {
            border: 1px solid var(--black);
        }
    }
}

.label {
    display: block;
    margin-bottom: 10px;
    color: var(--black);
}