services:
  postgres:
    image: postgres:16
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PW}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - '5433:5432'
    restart: always
  redis:
    image: redis:7.4.2
    ports:
      - '6380:6379'
  minio:
    image: minio/minio:latest
    environment:
      - MINIO_ROOT_USER=${ADMIN_USER}
      - MINIO_ROOT_PASSWORD=${ADMIN_PASSWORD}
    command: server /data --console-address ":9090"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/ready"]
      interval: 5s
      timeout: 3s
      retries: 5
    volumes:
      - ./minio-data:/data
    ports:
      - '9000:9000'
      - '9090:9090'
  mc:
    image: minio/mc:latest
    container_name: mc
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c "
        set -x;
        mc alias set local http://minio:9000 ${ADMIN_USER} ${ADMIN_PASSWORD} &&
        mc admin user add local ${MINIO_USER} ${MINIO_PASSWORD} &&
        mc admin policy attach local readwrite --user ${MINIO_USER} &&
        exit 0
      "
